.standings {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  margin-right: 40px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
tr:hover {
  background-color: coral;
}
